@model Web.Models.PatientViewModel

@{
    ViewBag.Title = "Patienten";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var patientName = Model.patient.Initials + " " + Model.patient.Lastname;
    var patientAddress = Model.patient.Streetname + " " + Model.patient.Housenumber;
}

<div class="patientview">
    <div class="row">
        <div class="column">
            <div class="patientoverview">
                <h2>Patient Details</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-7 large-9 columns">
            <div class="patient-details">
                <table class="hover patient-details-table">
                    <thead>
                        <tr>
                            <th width="200"></th>
                            <th width="200"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Naam</b></td>
                            <td>@patientName</td>
                        </tr>
                        <tr>
                            <td><b>Adres</b></td>
                            <td>@patientAddress</td>
                        </tr>
                        <tr>
                            <td class="bold"><b>@Html.LabelFor(m => m.patient.City)</b></td>
                            <td>@Model.patient.City</td>
                        </tr>
                        <tr>
                            <td class="bold"><b>@Html.LabelFor(m => m.patient.BsnNumber)</b></td>
                            <td>@Model.patient.BsnNumber</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="small-12 medium-5 large-3 columns ">
            <div class="container-padded searchpatient-container">
                <label>Add Entry</label>
                <p><button class="button" data-open="newEntryModal">New Logbook Entry</button></p>
            </div>
        </div>
        <hr>
        <div>
            @Html.Action("_NewEntryModal", "Home")
        </div>
    </div>
</div>
